@import 'node_modules/font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';

.tasks {
    li {
        font-size: 20px;
        .text-muted  {
            text-decoration: line-through;
            color: #aaa !important;
        }
        input[type=checkbox] {
            display: none;
        }

        input[type=text] {
            font-weight: bold
        }
    }
}

.btn-purple {
    background: purple;
    color: white;
}

// .confirm-button-component {
//     display: inline-block;
//     position: relative;

//     .backdrop {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: #000000ad;
//         z-index: 2
//     }
//     .confirm-modal {
//         position: fixed;
//         top: 0px;
//        bottom: 0px;
//         left: 0px;
//         right: 0px;
//         max-width: 500px;
//         margin: auto;
//         z-index: 3;
//          max-height: 300px;
//       }
// }

// .fade-enter-active, .fade-leave-active {
//     transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//     opacity: 0;
// }

.rajat-confirm-component {
    display: inline-block;
    position: relative;
    .rajat-modal {
        max-width: 500px;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 200px;
        margin: auto;
        z-index: 4;
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000000;
        z-index: 2;
        opacity: 0.4;

    }
}

.zoom-enter-active {
    animation: zoom 1.0s;
}

.zoom-leave-active {
    animation: zoom 0.8s reverse;
}

// @keyframes = To define an animation
@keyframes zoom {
    0% {
        transform: scale(0) rotate(0deg)
    }

    100% {
        transform: scale(1) rotate(360deg)
    }
}