<template>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h1>To_Do App</h1>
                    </div>
                    <div class="card-body">
                        <tasks></tasks>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
import Tasks from './Tasks'

export default {
    name: 'app',
    components: {
        Tasks
    }

}
</script>



