<template>
<div class="confirm-button-component">
    <button class="btn btn-sm btn-purple" v-on:click='showModal = true'>


    </button>
    <div class="backdrop" v-if='showModal'></div>
    <transition name='fade'>
        <div class="card confirm-modal text-left" v-if='showModal'>
            <div class="card-header">
                Confirm
            </div>
            <div class="card-body">
                Are you sure?
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-outline-secondary" v-on:click='showModal = false'>Cancel</button>
                <button class="btn btn-danger pull-right" v-on:click='confirmAction()'>Yes</button>
            </div>
        </div>
    </transition>
</div>
</template>

<script>
export default {
    name: "confirm-button",
    data() {
        return {
            showModal: false
        }
    },
    methods: {

        confirmAction() {
            this.$emit("confirm")
            this.showModal = false
        }

    }
}
</script>

