<template>
<div class="rajat-confirm-component">
    <button class='btn btn-sm btn-purple' v-on:click='showmodal = true'>
        <slot></slot>
    </button>
    <div class="backdrop" v-if='showmodal' @click="showmodal= false"></div>
    <transition name="zoom">
    <div class="card rajat-modal text-left" v-if='showmodal'>
        <div class="class card-header">
            <strong>Warning</strong>
        </div>

        <div class="class card-body">
            Confirm to delete it ??
        </div>

        <div class="class card-footer clearfix">
            <button @click='showmodal= false'>Cancel</button>
            <button class="pull-right" @click="rajatAction()">Ok</button>
        </div>

    </div>
    </transition>
</div>



</template>

<script>
export default {
    name: 'rajat-confirm',
    data() {
        return {
            showmodal: false
        }
    },

    methods: {
        rajatAction() {
            this.$emit('confirm');
            this.showmodal=false;

        }
    }
}
</script>

