<template>
    <div class="tasks">
        <div class="row mb-4">
            <div class="col-md-4">
                <h2 class="">Tasks <span class='badge badge-danger'>{{ pending.length }}</span></h2>
            </div>
            <div class="col-md-8 text-right pt-2">

                <button class='btn btn-outline-info btn-sm' @click='filteredList = filterList()'>All <span class="badge badge-info">{{ list.length }}</span></button>
                <button class='btn btn-outline-info btn-sm' @click='filteredList = filterList("completed")'>Completed <span class="badge badge-success">{{ completed.length }}</span></button>
                <button class='btn btn-outline-info btn-sm' @click='filteredList = filterList("pending")'>Pending <span class="badge badge-warning">{{ pending.length }}</span></button>

            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Add New Task</span>
            </div>

            <input v-model.trim="newTask" type="text" class="form-control" @keyup.enter="addNewTask" autofocus>

            <div class="input-group-append">
                <button @click='addNewTask' class="btn btn-outline-secondary" type="button">Add</button>
            </div>
        </div>



        <ul class="list-unstyled" v-if="filteredList.length > 0">
            <li class="mb-2" v-for="(task, index) in filteredList" :key="index">
                <div class="row">
                    <div class="col-sm-1">
                        <label class='btn btn-outline-secondary btn-sm mr-2'>
                            <!-- fa-2x=double size of icon,fa-fw= icon width -->
                            <span v-if="task.status" class="fa fa-fw fa-check text-success"></span>
                            <span v-else class="fa fa-fw fa-exclamation text-danger"></span>
                            <input type="checkbox" v-model="task.status">
                        </label>
                    </div>
                    <div class="col-sm-8" :class="{'text-muted': task.status}">
                        <div class="form-group mb-0" v-if="editing === task">
                            <input class='form-control form-control-sm' @keyup.enter='editing = false' type='text' v-model='task.text'>
                        </div>

                        <div v-else>{{task.text}}</div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button v-if='editing !== task' :disabled='editing === task' @click='editing = task' class='btn btn-sm btn-outline-primary'><span class='fa fa-pencil fa-fw'></span></button>

                        <button @click='editing = false' v-else class='btn btn-sm btn-outline-secondary'>
                            <span class='fa fa-level-down fa-rotate-90 fa-fw'></span>
                        </button>
                        <!-- <confirm-button @confirm='deleteTodo(index)'>
                            <span class="fa fa-trash fa-fw"></span>
                        </confirm-button> -->
                        <rajat-confirm @confirm='deleteTodo(index)'>
                            <span class="fa fa-trash fa-fw"></span>
                        </rajat-confirm>

                    </div>
                </div>
            </li>
        </ul>
        <p v-else>No tasks</p>

        <div class="row">
            <div class="col-md-6">
                <span class="fa  fa-fw fa-check text-success"></span> completed
                <span  class="fa fa-fw fa-exclamation text-danger"></span> pending
            </div>
            <div class="col-md-6 text-right">
                Completed: <span class="badge badge-success">{{ completed.length }}</span>
                Pending: <span class="badge badge-danger">{{ pending.length }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import ConfirmButton from "./ConfirmButton"
import RajatConfirm from "./RajatConfirm"
export default {
    name: 'tasks',
    components: {
        ConfirmButton,
        RajatConfirm,
    },
    // mounted= method used in vue after is component mounted
    mounted() {
        //JSON.parse= get the saved tasks from local storage and parse to json
        var savedlist = JSON.parse(localStorage.getItem("tasks"))
        if(savedlist) {
            this.list = savedlist;
        }
        this.filteredList = this.filterList();
    },
    data() {
        return {
            newTask: "",
            list: [
                { text: "Lorem ipsum dolor sit amet consectetur.", status: false },
                { text: "Tempora perferendis earum asperiores dolorum iste.", status: true },
                { text: "Delectus ullam officia est debitis.", status: false },
                { text: "Necessitatibus fugit aliquid omnis.", status: false },
                { text: "Minus quibusdam eligendi praesentium in beatae consequatur repellendus. Sint officiis nulla enim provident voluptatum corrupti voluptates.", status: false },
                { text: "Eligendi, tempora excepturi quia similique temporibus qui.", status: false },
            ],
            filteredList: [],
            editing: {}
        }
    },
    computed: {
        // pendingCount() {
        //     var count = 0;
        //     for(var i = 0; i < this.list.length; i++) {
        //         if(!this.list[i].status) {
        //             count++;
        //         }
        //     }
        //     return count;
        // },

        // completedCount() {
        //     var count = 0;
        //     for(var i = 0; i < this.list.length; i++) {
        //         if(this.list[i].status) {
        //             count++;
        //         }
        //     }
        //     return count;
        // },

        completed() {
            return this.filterList('completed')
        },
        pending() {
            return this.filterList('pending')
        }
    },

    methods: {
        filterList(type = '') { // type=any string value passed i.e completed or pending
            if(type == 'completed') {
                //filter=filter array list, =>arrow funtion
                // arrow function is es6 syntax for functions or any closure functions
                // Array.filter(function(task) {

                // })
                // Array.filter(task => {

                // })
                return this.list.filter(task => {
                    // boolean value=!!
                    return !! (task.status)
                })
            }

            if(type == 'pending') {
                return this.list.filter(task => {
                    return !! (!task.status)
                })
            }

            return this.list;
        },
        addNewTask() {
            if(this.newTask) {
                this.list.push({ text: this.newTask, status: false});
            }
            this.newTask= "";

        },

        deleteTodo(i) {
            //splice=delete,position
            this.list.splice(i, 1);
        },

        save(list) {
            localStorage.setItem("tasks", JSON.stringify(list))
        }
    },

    watch: {
        list: {
            handler(newlist) {
                this.save(newlist)
            },
            deep: true
        }
    }

}
</script>

